SkrinTool/Connected Services/ApiSkrin/ApiSkrin8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SkrinBLL.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SkrinBLL.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SanctionsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="constitutors_list" nillable="true" type="tns:ArrayOfSanctionsCompany" />
      <xs:element minOccurs="0" name="inn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ogrn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sanctions" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanctionsInfo" nillable="true" type="tns:SanctionsInfo" />
  <xs:complexType name="ArrayOfSanctionsCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SanctionsCompany" nillable="true" type="tns:SanctionsCompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanctionsCompany" nillable="true" type="tns:ArrayOfSanctionsCompany" />
  <xs:complexType name="SanctionsCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="constitutors_list" nillable="true" type="tns:ArrayOfSanctionsCompany" />
      <xs:element minOccurs="0" name="inn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ogrn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sanctions" type="xs:int" />
      <xs:element minOccurs="0" name="share" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanctionsCompany" nillable="true" type="tns:SanctionsCompany" />
</xs:schema>