SkrinTool/Connected Services/ApiSkrin/ApiSkrin6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.skrin.ru/ApiSkrin.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/serch_contra_bll.StopLightFreeEgrul" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfStopFactorTypesStopFactorEU27ROKu">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfStopFactorTypesStopFactorEU27ROKu">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/serch_contra_bll.StopLightFreeEgrul" name="Key" type="q1:StopFactorTypes" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/serch_contra_bll.StopLightFreeEgrul" name="Value" nillable="true" type="q2:StopFactor" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfStopFactorTypesStopFactorEU27ROKu" nillable="true" type="tns:ArrayOfKeyValueOfStopFactorTypesStopFactorEU27ROKu" />
  <xs:complexType name="ArrayOfKeyValueOfStopFactorIPTypesStopFactorEU27ROKu">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfStopFactorIPTypesStopFactorEU27ROKu">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/serch_contra_bll.StopLightFreeEgrul" name="Key" type="q3:StopFactorIPTypes" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/serch_contra_bll.StopLightFreeEgrul" name="Value" nillable="true" type="q4:StopFactor" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfStopFactorIPTypesStopFactorEU27ROKu" nillable="true" type="tns:ArrayOfKeyValueOfStopFactorIPTypesStopFactorEU27ROKu" />
</xs:schema>