SkrinTool/Connected Services/ApiSkrin/ApiSkrin2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Skrin.Models.Iss.Content" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Skrin.Models.Iss.Content" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.skrin.ru/ApiSkrin.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ContainsInSancList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contains" type="xs:boolean" />
      <xs:element minOccurs="0" name="Countries" nillable="true" type="tns:ArrayOfSanction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContainsInSancList" nillable="true" type="tns:ContainsInSancList" />
  <xs:complexType name="ArrayOfSanction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sanction" nillable="true" type="tns:Sanction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanction" nillable="true" type="tns:ArrayOfSanction" />
  <xs:complexType name="Sanction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InArchive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProgramList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="insert_date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sanction" nillable="true" type="tns:Sanction" />
  <xs:complexType name="ContainsInSancListUl">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contains" type="xs:boolean" />
      <xs:element minOccurs="0" name="Countries" nillable="true" type="tns:ArrayOfSanction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContainsInSancListUl" nillable="true" type="tns:ContainsInSancListUl" />
</xs:schema>